.button-img {
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 5px;
    border: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-img.normal {
    background-color: var(--main-black);
}

.button-img.inverse {
    background-color: var(--main-white);
}

.button-img.normal:hover {
    background-color: var(--main-hover);
}

.button-img.inverse:hover {
    background-color: var(--main-hover-light);
}